

#description-parts{
    width: 100%;
    height: 100vh;
}


.button_wrap 
{
    z-index: 100;
    position: absolute;
    top:1em;
    right:2em;
    width:3.5em;
    height:3.5em;
    font-family:'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
    line-height: 0.8em;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: #4b4b4b;;
    border: solid 2px #4b4b4b;
    border-radius: 50%;
    transition: .4s;
}

.button_wrap:hover 
{
    background: #4b4b4b;
    color: white;
}

.main
{
    text-align: center;
}

.main img
{
    margin-right: auto;
    margin-left: auto;
}

@media( max-width:999px) 
{
    .title
    {
        margin-top: 8vh;
        font-size: 25px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        color: #444;
    }

    .main
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 5px;
        margin-top: 1em;
        padding: 2em;
    }

    .topimg
    {
        margin: 1.5em auto;
        width: 100%;
    }

    .main h2
    {
        font-size: 20px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        color: #444;
        margin-top: 0.6em;
        margin-bottom: 0.2em;
    }

    .main p
    {
        width: 90%;
        margin: 1em auto;
        font-size: 12px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        color: #676767;
    }
}


@media( min-width:999px) {
    .title
    {
        margin-top: 8vh;
        font-size: 35px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        color: #444;
        margin-bottom: 0.2em;
    }

    .main
    {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 5px;
        margin-top: 1em;
        padding: 1em 5em;
    }

    .topimg
    {
        margin: 1.5em auto;
        width: 100%;
    }

    .main h2
    {
        font-size: 30px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 300;
        color: #666;
        margin-bottom: 0.5em;
    }

    .main p
    {
        width:90%;
        margin:1em auto;
        font-size: 15px;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: 400;
        line-height: 1.8em;
        color: #999;
    }
}